@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 브라우저 자동완성 시 생기는 배경 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transition inset;
  transition: background-color 5000s ease-in-out 0s;
}

#app {
  font-family: "GangwonEdu_OTFBoldA";
  white-space: nowrap;
}
