.vmd-box .vmd-body textarea, 
.vmd-box .vmd-body .vmd-view {
  font-family: "GangwonEdu_OTFBoldA" !important;
}

.markdown-body,
.markdown-body p {
    font-family: "GangwonEdu_OTFBoldA" !important;
    word-wrap: break-word; /* 텍스트가 화면을 넘으면 단어 단위로 줄바꿈 */
    white-space: pre-wrap; /* 줄바꿈과 공백 유지 */
}