/* 에디터 요소를 숨긴다. */
.BoardDetail .rc-md-navigation,
.BoardDetail .sec-md {
  display: none;
}

.BoardDetail .rc-md-editor {
  border: none;
}

.BoardDetail .rc-md-editor .editor-container > .section {
  border: none;
}

.rc-md-editor .editor-container .sec-md .input {
  font-size: 16px;
}

.custom-html-style p {
  font-size: 16px;
  margin: 0;
}
